* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100%;
    height: 100hv;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
html{
    font-size: 55%;
    /* height: 10%; */
}

.outerCircle {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* background-color: white; */
    background: linear-gradient( #ee7752, orange, #e73c7e ,#23a6d5,#23a5ab);
    /* background-color: gradient( #ee7752, orange, #e73c7e ,#23a6d5,#23a5ab); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation-bg {
    background: linear-gradient(-45deg #ee7752, orange, #e73c7e, #23a6d5, #23a5ab);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.innerCircle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
}

.minute {
    font-size: 3.5rem;
}

.sec {
    font-size: 2.7rem;
}

.msec {
    font-size: 2.1rem;
}

.but {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 40px;
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 12px;
}

.button:hover {
    background-color: white;
    color: black;
}

.laps {
    width: 200px;
    height: 260px;
    overflow: auto;
    list-style: none;
    color: white;
    position:relative;
    margin-top: 4rem;
}

.laps::-webkit-scrollbar {
    display: none;
}

.lap-item {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    border: 2px solid gray;
    border-radius: 50px;
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.number {
    color: blue;
}

.time {
    display: inline-block;
    margin-left: 2rem;
}

.clear-all {
    display: block;
    background-color: white;
    border: 2px solid white;
    font-size: 1rem;
    position: fixed;
    z-index: 1000;
    top: 660px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50px;
    width: 130px;
    padding: 15px 0;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}