<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- <button type="button" class="btn-close" aria-label="Close"></button> -->
    <br>
    <!-- <ul style="position: fixed; top: 10;width: 100%; height: 4rem; background-color:rgb(172, 165, 165); box-shadow: 0 0 2rem 0 rgb(180, 182, 184); font-size: 150%;"
        class="nav justify-content-end"> -->
    <ul style="position: fixed;" class="NAV">
        <ul class="nav nav-tabs justify-content-end">
            <!-- <div class="nav justify-content-center"><img src="1.png" alt="logo" height="60px" width="50px"></div> -->
            <li class="nav-item">
                <a class="nav-link active" aria-current="page"
                    href="home.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="events.html">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="team.html">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
        </ul>
    </ul>

    <!-- <section class="banner"></section>
    <script type="text/javascript">
        window.addEventListener("scroll",function(){
            var header=document.querySelector("header");
            header.classList.toggle("sticky",window.scrolly>0);
        })
    </script> -->

    <div style="position: fixed; margin-left: 4px; margin-top: 180px; font-size: 70%;   ">
        <nav id="navbar-example3" class="nav navbar navbar-light bg-light flex-column align-items-stretch p-3">

            <nav class="nav nav-pills flex-column">
                <div class="shadow-lg p-3 mb-5 bg-body rounded">
                    <a style="color: black; font-size: 1.3em;" class="nav-link" href="#item-1">About Us</a>

                </div>
                <div class="shadow-lg p-3 mb-5 bg-body rounded">
                    <a style="color: black; font-size: 1.3em;" class="nav-link" href="#item-2">Upcomming Events</a>
                </div>
                <div class="shadow-lg p-3 mb-5 bg-body rounded">
                    <a style="color: black; font-size: 1.3em;" class="nav-link" href="#item-3">Contact</a>
                </div>
            </nav>
        </nav>
    </div>

    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
        <h4 id="item-1">About Us</h4>
        <p>helloo..........
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            ...............................................................
        </p>

        <h4 id="item-2">Comming Events</h4>
        <p>dbsjd<br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br<br>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>><br><br><br><br><br><br><br>
        </p>
        <!-- <h4 id="item-3">Contac</h4>
        <p>xbsndwiw
        </p> -->

        <footer id="item-3">
            <div class="footerContainer">
                <div class="footerNav">
                    <p>JOIN US ON</p>

                </div>
                <div class="socialIcons">
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/techne_club_mescoe/"><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                </div>

                <div class="footerNav">
                    <p>CONTACT US ON </p>
                </div>
                
            </div>

            <div class="footer-center">
                <div style="padding: 60px;">
                    <a
                        href="https://www.google.com/maps/place/Modern+Education+Society's+College+of+Engineering+(MESCOE)/@18.5346427,73.8782853,17z/data=!3m1!4b1!4m6!3m5!1s0x3bc2c0f855581855:0x9bfc35605df36ec5!8m2!3d18.5346427!4d73.880474!16s%2Fm%2F011cbchb">
                        <i class="fa fa-map-marker"></i></a>
                    <p><span>Wadia college</span> Pune</p>
                </div>
                <div>
                    <a href="https://contacts.google.com/"><i class="fa fa-phone"></i></a>
                    <p style="margin-left: 20px;">+94*******9</p>
                </div>
                <div style="padding: 60px;margin-left: 30px;">
                    <a href="https://mail.google.com/mail/"><i class="fa fa-envelope"></i></a>

                    <p>fhgjjjjjj@gmail.com</p>
                    
                </div>
            </div>
            <center>
            <p style="color: rgb(64, 46, 46);">&copy; All copy rights are reserved to Suchita Gond </p>
        </center>
        </footer>

    </div>

    <!-- <%- include('permenent/header')%> -->
    <!-- <?php $IPATH = $_SERVER["DOCUMENT_ROOT"]."permenent/php/"; include($IPATH."header.html");?> -->
    <!-- <h1>ssds</h1> -->
    <!-- <%- include('permenent/header')%> -->
    <!-- <?php include($IPATH."footer.html");?> -->

    <hr>


    <!-- <div class="social-menu">
        <ul>
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>

        </ul>
    </div> -->


</body>

</html>